.header {
    width: 100%;
    height: 90px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    transition: .3s;
    opacity: 1;
    background-color: #141416;
    z-index: 100;
}

.header_hidden {
    opacity: 0;
    top: -90px;
}

.header__logo {
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.header__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-item {
    padding: 10px;
    margin-left: 25px;
    transition: .2s;
}

.header__nav-item:hover {
    color: #FD6262;
}

.header__button {
    margin-left: 25px;
}